.header {
  padding: 20px;
  background-color: black;
}

.main {
  padding: 40px;
  color: grey;
}

.footer {
  padding: 20px;
  color: white;
  background-color: black;
}

.textoDestacado {
  color: white;
  background-color: pink;
  padding: 5px;
}